@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}
@media (min-width: 1024px) {
  .lg\:navbar {

      padding: 0 !important; 
     
  }
}

  .react-tabs__tab {
    border: none !important;
  }
  
  .react-tabs__tab--selected {
    border: none !important;
    background: transparent !important;
  }
  
  .react-tabs__tab:focus {
    box-shadow: none !important;
    border: none !important;
  }

  textarea {
    width: 300px;
    height: 150px;
  }